<body class="home-page">
  <div class="background">
    <h1>Find your next jazz experience
      <p><%= link_to "Go to Demo login", new_user_session_path, class: "btn btn-secondary btn-lg home-button" %></p>
    </h1>
  </div>

  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-music" ></i>
        <h3><%= link_to "Explore Jazz", events_path %></h3>
        <p>Browse and RSVP for live events!</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-users" ></i>
        <h3><%= link_to "Invite Friends", events_path %></h3>
        <p>Instantly send email invites!</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-sign-in-alt" ></i>
        <h3><%= link_to "Log In", new_user_session_path %></h3>
        <p>Try it out as a Demo user!</p>
      </div>
    </div>
  </div>
</body>
