<body class="home-page">

  <div class="bg"></div>

  <div class="container">
    <div class="row"> 
      <h1>Find your next Jazz experience</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-sliders-h" style="font-size: 40px"></i>
        <h3><%= link_to "Attend Events", events_path %></h3>
        <p>Browse and RSVP for live jazz!</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-calendar" style="font-size: 40px"></i>
        <h3><%= link_to "Create Events", new_event_path %></h3>
        <p>Hosting a show or festival? Get the word out!</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-user-plus" style="font-size: 40px"></i>
        <h3><%= link_to "Sign Up", new_user_registration_path %></h3>
        <p>It's easy get started.</p>
      </div>
    </div>
  </div>
</body>
