<% if @event.attendees.any? %>
  <% @event.attendees.each do |attendee| %>
    <li class="list-attendees">
    <%= link_to attendee.name, attendee %></li>
  <% end %>
<% else %>
  <p style="margin-left: 7px">(no attendees)</p>
<% end %>