<%= form_for(current_user.active_rsvps.find_by(attended_event_id: @event.id), html: { method: :delete }, remote: true) do |f| %>
  <p><%= f.submit "Leave event", class: "btn btn-lg leave-button" %></p>
<% end %>