<div class="container-fluid" style="padding-bottom: 70px; padding-top: 60px">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <br>
        <div class="btn-group btn-group-md btn-group-justified" style="padding-bottom: 10px">
          <%= link_to "Upcoming Events", events_path(upcoming: true), class: "btn btn-primary primary-action" %>
          <%= link_to "Past Events", events_path(past: true), class: "btn btn-outline-primary  secondary-action" %>
        </div>
      <%= render "feed" %>
    </div>
  </div>
</div>