<div class="container-fluid" style="padding-bottom: 140px; padding-top: 80px">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#past">Past Events</a></li>
        <li><a data-toggle="tab" href="#near">Upcoming Near You</a></li>
        <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
      </ul>

      <div class="tab-content">
        <div id="upcoming" class="tab-pane fade in active">
          <%= render @upcoming_events %>
        </div>
        <div id="past" class="tab-pane fade">
          <%= render @past_events %>
        </div>
        <div id="near" class="tab-pane fade">
          <div class="user-count" style="margin-top: 10px; margin-bottom: -10px;">
            <p style="text-align: left">From your IP address</p>
          </div>
          <% if @nearby_events.any? %>
            <%= render @nearby_events %>
          <% else %>
            <p style="margin-top: 100px;">(Oh no! Zero results found.)</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>