<div class="container" style="padding-bottom: 20px; padding-top: 30px">
  <div class="row" >
    <div class="col-sm-8 col-sm-offset-2">
      <br>
        <div class="btn-group btn-group-justified">
          <%= link_to "Upcoming Events", events_path(upcoming: true), class: "btn btn-primary btn-md" %>
          <%= link_to "Past Events", events_path(past: true), class: "btn btn-primary btn-md" %>
        </div>
      <%= render "feed" %>
    </div>
  </div>
</div>