<div class="container-fluid" style="padding-bottom: 160px; padding-top: 80px">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#past">Past Events</a></li>
        <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
      </ul>

      <div class="tab-content">
        <div id="upcoming" class="tab-pane fade in active">
          <%= render @upcoming_events %>
        </div>
        <div id="past" class="tab-pane fade">
          <%= render @past_events %>
        </div>
      </div>
    </div>
  </div>
</div>