<p>You're Invited!</p>

<p>
  <%= @name %>
  has invited you to an event at Jazz-Brite:
</p>
<p>
  <strong><%= @event %></strong>
</p>
<p>
  To see details and RSVP, visit the
  <%= link_to "event page", @url %>.
</p>
