@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  height: 100%;
  background-color: hsl(240, 17%, 98%);
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: #becaf4;
  font-weight: 700;
  text-transform: uppercase;
}

.bg {
    background-image: image-url("trumpet.jpg");
    height: 67%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glyphicon-equalizer, .glyphicon-calendar, .glyphicon-user {
  font-size: 1.6em;
  color: #404040;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  text-align: center;
  color: #666666;
  letter-spacing: 0px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 26px;
  font-size: 3em;
  color: #737373;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  padding-top: 25px
}

h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.46em;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 700;
  line-height: 1.4em;
}

p {
  font-size: 1.29em;
  line-height: 1.7em;
  text-align: center;
  color: $gray-dark;
}

.field {
  max-width: 370px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 1px;
}

.field .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
}

.actions {
  margin-top: 19px;
  margin-bottom: 16px;
}

#error_explanation {
  text-align: center;
  ul {
    color: black;
    margin-bottom: 26px;
    list-style-position: inside;
      }
}

.alert {
  margin-top: 20px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  font-weight: 700;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: 700;
}

.media-body {
  padding-left: 17px;
  padding-right: 37px;
  p {
    text-align: left;
    line-height: 1.4em;
    font-size: 1.25em;
  }
}

.content-div {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.user-count {
  p {
  font-size: 1.1em;
  color: black;
  font-weight: 700;
  }
}

.popular {
  float: right;
  color: #595959;
}

.glyphicon-star {
  color: orange;
}

.attendees {
  text-align: center;
  font-size: 18px;
  list-style-type: disc;
}

#event-show {
  background-color:white;
  padding-top: 1px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
}

.event-attr {
  font-weight: 700;
  color: #4d4d4d;
}

.responsive {
    max-width: 100%;
    height: auto;
}