@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body, html {
  height: 100%;
  background-color: hsl(240, 20%, 97%);
}

body {
  padding-top: 50px;
}

a {
  transition: all 0.2s;
  color: hsl(208, 56%, 43%);
}

a:focus, a:hover, a:active {
}

.navbar {
  background-color: white;
  font-weight: 700;
  text-transform: none;
  border-top: 3px solid hsl(228, 40%, 49%);
}

.navbar-default .navbar-brand {
  color: hsl(228, 40%, 49%);
  font-size: 24px;
  letter-spacing: .6px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: hsl(228, 40%, 35%);
}

.navbar-default .navbar-nav > li > a {
  color: hsl(228, 40%, 49%);
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: hsl(240, 20%, 96%);
  color: hsl(228, 40%, 50%);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: hsl(240, 20%, 92%);
  color: hsl(228, 40%, 50%);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  font-weight: 700;
  color: hsl(228, 40%, 50%);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: hsl(240, 20%, 96%);
  color: hsl(228, 40%, 50%);
}

.home-page {
  display: flex;
  flex-flow: column;
  background-color: white;
}

.background {
  background-image: image-url("trumpet.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-music, .fa-sign-in-alt, .fa-users, .fa-calendar {
  font-size: 37px;
  color: hsl(0, 0%, 20%);
  padding-bottom: 6px;
}

.fa-calendar {
  font-size: 35px;
  padding-top: 2px;
}

.fa-facebook-f {
  position: relative;
  top: 1px;
  right: 10px;
  font-size: 19px;
  line-height: 0;
  color: white;
  margin-left: 10px;
}

h1 {
  position: relative;
  top: 40%;
  text-align: center;
  margin: 0;
  font-size: 4.2em;
  font-weight: 700;
  color: white;
  word-spacing: 3px;
  text-shadow: #4A4A4A 1px 1px 8px;
  p {
    word-spacing: normal;
    text-shadow: none;
  }
}

.home-button {
  background-color: hsl(228, 40%, 50%);
  font-weight: 700;
  color: white;
  padding: 24px 22px;
}

.home-button:hover, .home-button:focus, .home-button:active {
  background-color: hsl(228, 40%, 35%);
  color: white;
}

h2, h3, h4, h5 {
  line-height: 1;
  text-align: center;
  color: #282C35;
  letter-spacing: 0px;
}

h2, h4 {
  font-size: 1.76em;
  font-weight: 700;
  padding-top: 90px;
  padding-bottom: 15px;
}

h4 {
  font-weight: normal;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 10px;
  a {
    color: hsl(228, 40%, 40%);
  }
  a:hover, a:focus {
    color: hsl(228, 40%, 28%);
    text-decoration: underline;
  }
}

h5 {
  font-size: 1.53em;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 700;
  line-height: 1.4em;
}

p {
  font-size: 1.29em;
  line-height: 1.6em;
  text-align: center;
  color: hsl(225, 6%, 25%);
}

.form-box {
  background-color: white;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
  margin-top: 40px;
  padding-bottom: 12px;
  padding-left: 100px;
  padding-right: 100px;

  h2 {
    padding-top: 45px;
    padding-bottom: 24px;
  }
  .alert {
    width: 100%;
  }
}

.field {
  max-width: 370px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 1px;
}

.field .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
}

.actions {
  margin-top: 19px;
  margin-bottom: 16px;
}

#error_explanation {
  text-align: center;
  h2 {
    color: #ed0909;
    font-size: 14px;
    font-weight: 700;
    margin-top: -30px;
    margin-bottom: -10px;
  }
  ul {
    color: #ed0909;
    font-size: 14px;
    margin-bottom: 16px;
    text-align: left;
  }
}

.alert {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 4px;
  background-color: hsl(210, 65%, 91%);
  color: hsl(210, 65%, 40%);
  font-size: 15px;
  width: 70%;
  padding: 19px;
  border-radius: 0px;
  border-color: hsl(210, 65%, 45%);
  border-left-width: 4px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 4px;
  border-right-color: hsl(210, 65%, 91%);
}

.alert-success {
  background-color: hsl(120, 43%, 89%);
  color: hsl(120, 43%, 35%);
  border-color: hsl(120, 43%, 40%);
  border-right-color: hsl(120, 43%, 89%);
}

.media-body {
  padding-left: 17px;
  padding-right: 42px;
  p {
    text-align: left;
    line-height: 1.4em;
    font-size: 1.25em;
  }
}

.content-div {
  background-color: white;
  cursor: pointer;
  transition: box-shadow .2s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.content-div:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}

.user-count {
  p {
  font-size: 1.1em;
  color: #6c6f7a;
  font-weight: 700;
  }
}

.fa-map-marker-alt {
  color: hsla(0, 100%, 43%, 1);
  position: relative;
  right: 3px;
  top: 1px;
  font-size: 19px;
}


.distance {
  float: right;
}

.popular {
  float: right;
}

.glyphicon-star {
  color: hsla(25, 100%, 50%, 1);
  font-size: 22px;
  top: 5px;
  line-height: 0;
  right: 1px;
}

.nav-tabs > li {
  float:right;
  display:inline-block;
  zoom:1;
}

.nav-tabs > li > a {
  color: hsl(228, 40%, 45%);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-weight: 700;
  font-size: 15px;
}

.nav-tabs > li > a:hover {
  background-color: hsl(228, 59%, 93%);
  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: hsl(228, 40%, 53%);
  color: white;
  padding: 8px 30px;
  font-size: 17px;
}

.btn {
  border-radius: 60px;
  transition: .2s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: hsl(228, 40%, 38%);
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .open>.dropdown-toggle.btn-outline-primary {
  color: hsl(228, 40%, 45%);
  background-color: hsl(228, 59%, 93%);
}

.primary-action, .secondary-action, .tertiary-action {
  background-color: hsl(228, 40%, 53%);
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  padding: 6px;
  border-radius: 16px;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.secondary-action, .tertiary-action {
  background-color: white;
  color: hsl(228, 40%, 45%);
}

.tertiary-action {
  color: #999;
}

.attend-button, .leave-button {
  font-weight: 700;
  font-size: 17px;
  color: white;
  background-color: hsl(144, 100%, 34%);
  border-color: hsl(144, 100%, 34%);
}

.leave-button {
  color:  hsl(0, 0%, 42%);
  border-color: hsl(0, 0%, 42%);
  background-color: white;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:focus, .open>.dropdown-toggle.btn-success {
  color: white;
  background-color: hsl(144, 100%, 25%);
  border-color: hsl(144, 100%, 25%);
}

.btn-dark {
  background-color: hsl(228, 40%, 49%);
  font-weight: 700;
  font-size: 17px;
  color: white;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark:active:focus, .open>.dropdown-toggle.btn-dark {
  background-color: hsl(228, 40%, 34%);
  color: white;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: hsl(228, 40%, 47%);
  border-color: hsl(228, 40%, 47%);
}

.pagination > li > a, .pagination > li > span {
  padding: 7px 14px;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.pagination > li > a {
  font-weight: 700;
  color: hsl(228, 40%, 45%);
}

.attendees {
  margin-bottom: 6px;
  margin-top: 30px;
  margin-left: 14px;
}

.list-attendees {
  text-align: left;
  margin-left: 15px;
  font-size: 1.29em;
  line-height: 1.5em;
  list-style-type: disc;
}

#event-show {
  background-color:white;
  padding-top: 1px;
  padding-right: 190px;
  padding-left: 190px;
  padding-bottom: 200px;
  min-height: 100vh;
  height: 100%;
  h2, p {
    text-align: left;
  }
  h2 {
    line-height: 1.7em
  }
}

.event-header {
  margin-top: 20px;
  margin-bottom: 15px;
}

.event-attr {
  font-weight: 700;
  color: #282c35;
  text-transform: uppercase;
  font-size: 15px;
}

.responsive {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-envelope, .fa-edit, .fa-external-link-alt, .fa-lock {
  position: relative;
  top: 1px;
  padding-right: 4px;
  font-size: 20px;
}

.fa-edit {
  top: 0px;
}

.fa-lock {
  padding-right: 2px;
  font-size: 18px;
  top: -1px;
}

.fa-external-link-alt {
  font-size: 14px;
  margin-left: 4px;
  top: -2px;
}

#map {
  width: 100%;
  height: 360px;
}