@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  height: 100%;
  background-color: hsl(240, 17%, 98%);
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: #becaf4;
  font-weight: 700;
  text-transform: uppercase;
}

.bg {
    background-image: image-url("background_trumpet.jpg");
    height: 71%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  text-align: center;
  color: $gray-light;
  letter-spacing: 0px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 25px;
  padding-top: 20px
}

h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.7em;
  padding-bottom: 5px;
}

h5 {
  font-size: 1.46em;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 700;
  line-height: 1.4;
}

p {
  font-size: 1.29em;
  line-height: 1.7em;
  text-align: center;
  color: $gray-dark;
}

.field {
  max-width: 370px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 1px;
}

.field .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
}

.actions {
  margin-top: 19px;
  margin-bottom: 16px;
}

#error_explanation {
  text-align: center;
  ul {
    color: black;
    margin-bottom: 26px;
    list-style-position: inside;
      }
}

.alert {
  margin-top: 20px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  font-weight: 700;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: 700;
}

.media-body {
  padding-left: 20px;
  p {
    text-align: left;
    line-height: 1.4em;
    font-size: 1.25em;
  }
}

.content-div {
  background-color: white;
  cursor: pointer;
}

.attendees {
  p {
  font-size: 1.1em;
  color: black;
  font-weight: 700;
  }
}